<mat-card>
    <img mat-card-image [src]="fietstocht.afbeeldingUrl"
         [alt]="fietstocht.titel">
    <rvp-stats-bar [fietstocht]="fietstocht"></rvp-stats-bar>
    <mat-card-header>
        <mat-icon mat-card-avatar fontSet="material-icons-round">{{fietstocht.icoon}}</mat-icon>
        <mat-card-title>{{fietstocht.titel}}</mat-card-title>
        <mat-card-subtitle>{{fietstocht.ondertitel}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs
                       dynamicHeight
                       [disablePagination]="true">
            <mat-tab label="Samenvatting">{{fietstocht.korteBeschrijving}}</mat-tab>
            <mat-tab label="POI">Cafeetje om de hoek</mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button
                color="primary"
                (click)="onOverzichtClick()">
            Overzicht
        </button>
    </mat-card-actions>
</mat-card>
