<mat-sidenav-container *ngIf="sidenavConfig$ | async as sidenavConfig">
    <mat-sidenav [mode]="sidenavConfig.mode"
                 [opened]="sidenavConfig.opened">
        <mat-nav-list>
            <div mat-subheader>Ga naar</div>
            <mat-list-item
                    (click)="navigateToFietstocht('overzicht', sidenavConfig)"
                    [ngClass]="{'active': isUrlActive('overzicht')}">
                <mat-icon matListIcon fontSet="material-icons-round">home</mat-icon>
                <div matLine>Overzicht</div>
            </mat-list-item>
            <mat-list-item
                    *ngFor="let fietstocht of fietstochten"
                    (click)="navigateToFietstocht(fietstocht.id, sidenavConfig)"
                    [ngClass]="{'active': isUrlActive(fietstocht.id)}">
                <mat-icon matListIcon fontSet="material-icons-round">{{fietstocht.icoon}}</mat-icon>
                <div matLine>{{fietstocht.titel}}</div>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <ng-content></ng-content>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
